html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

div div.color-picker {
  width: 300px !important;
}

.codeContainer .token-line {
  line-height: 1.3em;
  height: 1.3em;
}

#upload-svg {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#upload-svg-label {
  height: 24px;
  line-height: 1.2;
  transition: all 0.2s cubic-bezier(0.08, 0.52, 0.52, 1) 0s;
  border: 1px solid rgb(204, 208, 213);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  background: rgb(245, 246, 247);
  color: rgb(75, 79, 86);
  cursor: pointer;
}

#upload-svg-label:hover {
  background-color: #ebedf0;
}

#upload-svg-label:active {
  background: #dddfe2;
  transform: scale(0.98);
  border-color: #bec3c9;
}

#upload-svg-label:focus {
  box-shadow: 0 0 1px 2px rgba(88, 144, 255, 0.75),
    0 1px 1px rgba(0, 0, 0, 0.15);
}
